@font-face {
    font-family: 'WooridaumB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/WooridaumB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Tium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/Tium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HaenamFont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/HaenamFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Apple SD Gothic Neo";
    src: url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.eot");
    src: url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.woff") format("woff"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.svg#Apple SD Gothic Neo") format("svg");
}


body {
    /* font-family:'Electrolize'; */
    margin: 0;
}

.imgList1 {
    margin-top: 1%;
    margin-left: 7%;
    left: 8%;
    width: 81%;
    height: 70%;
    overflow-y: auto;
}

.imgC {
    height: 45%;
    width: 98%;
    margin-top: 20px;
}

.imgPlusp img {
    height: 75%;
    width: 90%;
    transition: all .5s ease-in-out;
}

.imgPlusp {
    font-family: 'WooridaumB';
    width: 33%;
    height: 100%;
    float: left;
}

.imgPlusp p {
    text-align: center;
    height: 10%;
}

.imgPlusp img:hover {
    transform: scale(1.3);
    transition: 0.5s;
}


.modal1 {
    display: none;
    z-index: 500;
    width: 100%;
    height: 100vh;
    position: fixed;
    font-family: 'WooridaumB';
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8)
}

.modal2 {
    display: none;
    z-index: 500;
    width: 100%;
    height: 100vh;
    position: fixed;
    font-family: 'WooridaumB';
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8)
}


.modal1 .x {
    position: absolute;
    z-index: 500;
    top: 3rem;
    right: 3rem;
    background: transparent;
    border: 0;
    color: #ffffff;
    font-size: 3rem;
    cursor: pointer;
}

.modal2 .x {
    position: absolute;
    z-index: 500;
    top: 3rem;
    right: 3rem;
    background: transparent;
    border: 0;
    color: #ffffff;
    font-size: 3rem;
    cursor: pointer;
}



.modalBox {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: transparent;
    width: 30%;
    height: 30%;
    text-align: center;
}

.modal_content {
    box-sizing: content-box;
    border: 0px solid;
    width: 100%;
    height: 100%;
    word-break: break-all;
    border: solid #000 0px;
}

span.info {
    font-size: 20px;
    font-family: 'IBMPlexSansKR-ExtraLight';
    color: #fff;
}


.img_container {
    width: 100%;
    height: 100%;
}

.img_container1 {
    width: 100%;
    height: 80%;
}

.img_container1 img {
    object-fit: cover;
    width: 100rem;
    height: 100rem;
    max-width: 100%;
    max-height: 100%;
}

.img_container img {
    object-fit: cover;
    width: 100rem;
    height: 100rem;
    max-width: 100%;
    max-height: 100%;
}

.swiper-container {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.swiper-wrapper img {
    object-fit: cover;
    width: 100rem;
    height: 70rem;
    max-width: 100%;
    max-height: 80%;
}

.swiper-slide {
    flex-shrink: 0;
    position: fixed;
}


.modalBox p {
    color: #ffffff;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: 'IBMPlexSansKR-ExtraLight';
    padding: .2rem;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.modal_content1 p {
    color: #ffffff;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: 'IBMPlexSansKR-ExtraLight';
    padding-bottom: 20px;
    text-align: center;
    height: 10%;
}

.modal_content2 p {
    color: #ffffff;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: 'IBMPlexSansKR-ExtraLight';
    padding-bottom: 20px;
    text-align: center;
    height: 10%;
}

.modal_admin {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(52, 52, 52, 0.3);
    top: 0;
    left: 0;
    display: none;
}

.modalBox_admin {
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -220px;
    text-align: center;
    box-sizing: border-box;
    line-height: 23px;
    cursor: pointer;
}

.modal_admin button.x {
    position: absolute;
    top: 3rem;
    right: 3rem;
    background: transparent;
    border: 0;
    color: #ffffff;
    font-size: 3rem;
}


.modal_input_area {
    float: left;
    box-sizing: border-box;
    position: relative;
    padding-top: 20px;
    width: 400px;
}

.modal_input_area input {
    width: 250px;
    height: 100%;
    border-radius: 10px;
}

.modal_input_area label {
    width: 100px;
    float: left;
    font-family: 'IBMPlexSansKR-ExtraLight';

}

.modal_input_upload {
    float: left;
    box-sizing: border-box;
    width: 300px;
    padding-top: 30px;
    padding-left: 10px;
    text-align: left;
}

.modal_admin_input select {
    float: left;
    width: 80px;
    margin-top: 27px;
    margin-left: 10px;
}


a {
    text-decoration: none;
    color: black;
}

/*****곡선 주기 위한 박스*******/
/* .back_color{ 
    position: absolute;
    width: 1018px;
    height: 200px;
    background-color: #7193C1;
} */
/***곡선 주기 위한 박스***/
/* .back_color2{ 
    position: absolute;
    top:-0.42px;
    width: 1018px;
    height: 100%;
    background-color: #7193C1;
} */


.header_name {
    float: left;
    width: calc(60% - 1.7361vw);
    padding: 10px;
    font-family: 'times';
    font-size: 20px;
    color: #fff;
}

.menu {
    float: left;
    display: flex;
    width: calc(40% - 5.2083vw);
    font-size: 20px;
    text-align: center;
    font-family:'times'
}

.Login_menu {
    width: 50%;
    padding:10px;
}

.Login_menu a {
    color: #fff;
    font-family: 'Helvetica';
}

.Login_menu a:hover {
    background-color: #D99873;
    border-radius: 4px;
}

/***********타이틀부터 테이블까지 묶음***********/

.all_tb {
    background-attachment: local;
    background: #fff;
    left: 15%;
    width: 85%;
    margin-top: 4.7%;
    float: left;
    height: 90%;
    position: fixed;
}

header {
    position: fixed;
    left: 15%;
    width: 85%;
    background-color: #A66F5B;
}


.search-wrap {
    display: inline-block;
    padding: 10px;
    width: 100%;
    height: 10%;
}

select {
    border: 1px solid #D99873;
    border-bottom: 1px solid #D99873;
    border-radius: 8px;
    width: 90px;
    height: 32px;
}

input::-webkit-input-placeholder {

    color: #AAA;
}

.search-input {
    border: none;
    border-bottom: 1px solid #D99873;
    height: 32px;
    text-align: left;
    width: 50vw;
}

.search-btn {
	position:absolute;
	top:15px;
    font-size: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #D99873;
}

.board_list_wrap {
    padding-left: 1em;
   	padding-right: 1em;
    height: 15%;
    font-family: "Helvetica";

}

.board_list_wrap_Free {
    width: 1000px;
    margin-left: 35px;
    height: 15%;
    padding-left: 55px;
    padding-top: 40px;
    font-family: 'WooridaumB';

}

table {
    border-collapse: collapse;
}


.board_list {
    width: 100%;
    margin-top: 1.2rem;
    background: #fff;
    height: 100%;
    padding: 0;
    margin: 0;
}

.board_list thead tr th{
    color:#656565;
    font-size: 14px;
    font-family: 'Nanum Barun Gothic';
}

.board_list tr {
    border-bottom: 0.1px solid #D99873;
}

.board_list th,
.board_list td {
    text-align: center;
    font-size: 13px;
}


.board_list td:nth-child(1){
    width: 10%;
}

.board_list td:nth-child(1):hover {
    text-decoration: underline;
}

.board_list td:nth-child(2) {
    width: 25%;
}
.board_list td:nth-child(2):hover {
    text-decoration: underline;
}

.board_list td:nth-child(3) {
    width: 25%;
}
.board_list td:nth-child(4) {
    width: 40%;
}
.cctv_img {
    display: flex;
    color: #4279ff;
}

.cctv_img p {
    width: 50%;
    margin:10px;
    cursor: pointer;

}

.cctv_img p:hover {
    text-decoration: underline;

}



.board_list_wrap .paging {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    top: 95%;
    left: 37%;
    font-size: 0;
}

.board_list_wrap .paging a {
    text-align: center;
    font-size: 14px;
    padding: 3px 10px;
    font-family: 'GangwonEduPowerExtraBoldA';

}

.board_list_wrap .paging a.num {
    border-radius: 100px;
    color: black;
    font-weight: bold;
}

.board_list_wrap .paging a.bt:first-child {
    margin-left: 20px;
}


.board_list_wrap .paging a.bt {
    background-color: transparent;
    border: 1px solid transparent;
}


button.f-btn {
    z-index: 1;
    position: absolute;
    left: 45.5%;
    top: 20%;
    background: black;
    color: #fff;
    width: 80px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    font-family: 'IBMPlexSansKR-ExtraLight';
    font-weight: bold;

}




/****************테이블 end************************************/



/*********Prontbar*******************/

.bar_menu {
    position: fixed;
    list-style: none;
    background-color: #315259;
    width: 15%;
    height: 100%;
    float: left;
    padding:0;
    margin:0;
}

.bar_menu li {
    /**li class =bar_logo*/
    text-align: center;
}

.bar_logo a {
    font-size: 19px;
    color: #fff;
    font-family: 'times';
}

.bar_logo {
    height: calc(10% - 3.4722vw);
    padding-top: 1.7361vw;
	padding-bottom: 1.7361vw;
    
}

.bar_logo i {
    color:white;
    font-size: 19px;
    margin-left: -1.5vw;
}

.bar_toogle i{
    display: none;
    position: absolute;
    right:22px;
    top:2px;
    font-size:24px;
}

.nav_li {
    height: 90%;
}

.nav_li li {
    height: 20%;
    text-align: center;
    line-height: 18vh;
}


.nav_li li a {
	color: #fff;
    font-size: 20px;
    font-family:'times';
}

.nav_li li:hover {
    background-color: #D99873;
}

@media screen and (max-width: 768px){
    .bar_menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: relative;
    }
    .nav_li{
        height: 90%;
        display: none;
    }

    .nav_li li {
        height: 20%;
        line-height: 4.5vh;
    }

    .nav_li li a{
        font-size:20px;
    }
    .bar_logo {
        padding: 0;
    }

    header {
        display: none;
        position: relative;
        width: 100%;
        left: 0;
    }

    .header_name {
        width: 31vw;
        height: auto;
      	font-size:15px;
        font-weight:bolder;
    }

    .menu {
        width: 69vw;
        height: auto;
        font-size:15px;
        flex-direction: row-reverse;
        font-weight:bolder;
    }

    .all_tb {
        left: auto;
        margin-top: 40px;
        width: 100vw;
        height: auto;
    }

    .board_list_wrap .paging {
        position : absolute;
        width: 90vw;
        left:4.5vw;
        top:85vh;
    }

    .bar_toogle i{
        display: block;
    }
	.bar_toogle a{
		display:none;
	}
    .bar_logo a, .bar_logo i{
        font-size: 25px;
        padding-top:2.5px;
        padding-bottom:2.5px;
    }

    header.active{
        display: flex;
    }

    .nav_li.active{
        display: block;
    }
    
    .cctv_img p {
    width: 50%;
    margin:5px;
    cursor: pointer;

}

}


/********************************************/

.btn-wrap {
    position: fixed;
    display: flex;
    top: 75%;
    width: 102%;
    height: 5%;
    z-index: 500;
    justify-content: center;
}

.btn-wrap button {
    flex-direction: row;
    width: 5em;
    height: 2em;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    margin-right: 1%;
}

/*************pront end*****************************/