body{
    margin: 0;
    font-family:'Electrolize';
}

a{

    text-decoration: none;
    color: black;
}

/*******bar_menu 프론트바 부모****************/
.bar_menu {
    position: fixed;
    list-style: none;
    background-color: #315259;
    width: 15%;
    height: 100%;
    float: left;
    padding:0;
    margin:0;
}

.bar_menu li {
    /**li class =bar_logo*/
    text-align: center;
}

header {
    margin-left: 15%;
    width: 85%;
    background-color: #A66F5B;
    float:left;
}

.header_name{
	float:left;
	width: calc(60% - 1.7361vw);
    padding: 10px;
    font-family: 'times';
    font-size: 20px;
    color: #fff;
}

.bar_logo a {
    font-size: 1.6rem;
    color: #fff;
    font-family: 'times';
}

.bar_logo {
    padding-top: 1.75rem;
	padding-bottom: 1.75rem;
    
}

.bar_logo i {
    color:white;
    font-size: 1.6rem;
    margin-left: -1.5vw;
}

.bar_toogle i{
    display: none;
    position: absolute;
    right:22px;
    top:2px;
    font-size:24px;
}

.nav_li {
    height: calc(100% - 5.1rem);
}

.nav_li li {
    height: 20%;
    text-align: center;
    line-height: 18vh;
}


.nav_li li a {
	color: #fff;
    font-size: 20px;
    font-family:'times';
}

.nav_li li:hover {
    background-color: #D99873;
}



    /***********bar_menu 프론트바 부모는 위에 있습니다*****/
    
.BackGround {
    position: fixed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #C0D0E6;
    left:13%;
    width:87%;
    height: 100%;
}
/***********타이틀부터 댓글까지 묶음***********/
.Main{   /******큰 박스*********/
    position: relative;
    left: 15%;
    width: 75vw;
    float:left;
    height:93vh;
    margin-left:5vw;
}

.title { /*****타이틀 창입니다 Free_view 묶은 부모창*****/
    width:300px;
    height: 100px;
  }


.title h2{ /*****h1타이틀만 쓰면 밀림현상때문에 넣어줌******/
    font-size:0px;
}

.title h1{ /****Free-view*****/
    position: relative;
    left:100px;
    top:0px;
    font-size: 30px;
    text-align: left;
	margin-right:10px;
}

.bar2{ /*****작성 제목 타이틀*****/
    width:100%;
    height: 30px;
    font-size: 10px;
}

.bar2 h1{ /***"작성제목"*3.30***/
	color:#d99873;
    }

.search-input{
    height: 25px;
   text-align: left;
   width:75vw;
   border:1px solid #d99873;
   background: #fff;
   font-size:16px;
}

.bar3{ /********작성 내용 타이틀********/
    width:100%;
    height: 30px;
    font-size: 10px;
	color:#dd9873;
}

.content_table{ /***작성자가 기입하는 내용이 들어가는 곳*****/
    margin-left:auto;
  margin-right:auto;
    width:100%;
    height: 45vh;
	border: 1px solid #d99873;
	overflow-y:auto;
	background: #fff;
}

.wab{ /*글 수정 삭제를 묶고 있는 부모 */
    width:100%;
    height:30px;
}

.WriterAndbtn{
    
}


#delete,#revise{ /**글 수정 삭제버튼 댓글에도 사용함***/
    display:inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
     }
.Writer{ /**작성자*/
        margin-top: -5px;
		border:1px solid #d99873;
        display: inline-block;
    }
    /*******댓글 쓰는 곳********/
    #form-commentInfo{ 
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    overflow-y:scroll;
    padding-bottom:10px;
      }
       #comment-count{ margin-bottom: 10px; width:500px;}
        #comment-input{ width: 89%; height: 3.3em; }
      
         #submit{ background-color: rgb(0, 128,255);
      width: 5.5em; height: 3.3em;; font-size: 15px; font-weight: bold; color: aliceblue; }
  
          #voteUp, #voteDown{ width: 3.5em; height: 1.9em; background-color: aqua; }
      
           #comments{ margin-top: 10px; } 
           div#comments{
              width:0px;
              }   
  /***댓글 쓰는 곳 id값으로 묶음*****/

/******댓글 작성자 이름, 내용 묶음 부모 ******/
.coment_writer{
   width: calc(100% - 1.8vw)
}

.conment_box { /**댓글 내용*/
    box-sizing: border-box;
    position:relative;
    width: 90%;
    height: 5%;
    border: 1px solid #d99873;
    background: #fff;
    margin-top:5px;
    margin-bottom: 5px;
}

.inline{/**댓글 작성자 이름과 시간**/
display: inline-block;
margin-right:10px;
}

.inline_CCTV{
position: absolute;
display: inline-block;
right:14%;
top:13%;
}


.pull-right{
    /****댓글 수정 삭제묶음 ,댓글 수정 삭제 버튼은 위에있음*****/
    position: relative;
    top:-30px;
    left:5px;
    float: right;
    padding-left:5px;
    width: 10%;
    margin-top:5px;
    font-size:12px;
}


/****************테이블부터 댓글까지 end************************************/

.write_title{
    margin-left:auto;
margin-right:auto;
  font-size:25px;
  font-weight: 400;
}

/*********페이징 부분*********/
.paging{
    margin-top: 10px; 
    font-size:0;
    text-align: center;
 }
 .paging a {
    
     display: inline-block;
     font-size: 12px;
     margin-left: 10px;
     padding: 5px 10px;
     
 }
 .paging a.num{
     border: 1px solid navy;
     border-radius: 100px;
     color:black;
     }
 
 
 .paging a:first-child{
     margin-left: 0;
 }
 
 
 /******페이징 부분********/
 
 
 @media screen and (max-width: 768px){
	.Main{
	left:0;
	width:90vw;
	margin-left:4.2vw
	}
	
	.search-input{
	width:90vw;
	}
	
	button.d-btn{
	position:inherit;
	margin-left:40vw;
	height:25px;
	margin-top:0px;
	}
	
    .bar_menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: relative;
    }
    .nav_li{
        height: 90%;
        display: none;
    }

    .nav_li li {
        height: 20%;
        line-height: 4.5vh;
    }

    .nav_li li a{
        font-size:20px;
    }
    .bar_logo {
        padding: 0;
    }

    .header_name {
        width: 31vw;
        height: auto;
      	font-size:15px;
        font-weight:bolder;
    }
    
	 header {
        display: none;
        position: relative;
        width: 100%;
        left: 0;
        margin-left:0;
    }
       .menu {
        width: 69vw;
        height: auto;
        font-size:15px;
        flex-direction: row-reverse;
    }
    .board_list_wrap .paging {
        position : absolute;
        width: 90vw;
        left:4.5vw;
        top:85vh;
    }

    .bar_toogle i{
        display: block;
    }
	.bar_toogle a{
		display:none;
	}
    .bar_logo a, .bar_logo i{
        font-size: 25px;
        padding-top:2.5px;
        padding-bottom:2.5px;
    }

    header.active{
        display: flex;
    }

    .nav_li.active{
        display: block;
    }
    
    #form-commentInfo{
    position: inherit;
    }
    
    
}