<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="hansung.cap.mapper.FreeBoardMapper">
    <select id="queryAll" resultType="hansung.cap.project.FreeBoardVO">
  		select * 
  		from freeboard 
  		order by time desc
  	</select>
  	
  	<insert id = "insertFreeBoard">
  		insert into freeboard(title,content,userId,time,image)
		values (#{title},#{content},#{userId},#{time},#{image})
  	</insert>
  	
  	<select id="searchAll" resultType="hansung.cap.project.FreeBoardVO">
  		select * 
  		from freeboard
  		where title like #{s} or userid like #{s} 
  		order by time desc
  	</select>
  	
  	<select id="searchTitle" resultType="hansung.cap.project.FreeBoardVO">
  		select * 
  		from freeboard 
  		where title like #{s} 
  		order by time desc
  	</select>
  	
  	
  	
  	<select id="read" resultType="hansung.cap.project.FreeBoardVO">
  		select * 
  		from freeboard 
  		where seq like #{a} 
  	</select>
  	
  	<select id = "delete">
  		delete from freeboard 
  		where seq like #{a}
  	</select>
  	
  	<update id = "modify">
  		update freeboard 
  		set title=#{title}, content=#{content}, userId=#{userId}, time = #{time}, image = #{image}
		where seq like #{seq} 
  	</update>
  	
  	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM freeboard
	</select>
	
	<select id="listPage" parameterType="hashMap" resultType="hansung.cap.project.FreeBoardVO">
 		select *
 		from freeboard 
 		order by seq desc  <!-- 경우에 따라 time으로 바꿔줄 필요 있음 -->
 		limit #{displayPost},#{postNum}
 	</select>
 	
 	<select id="searchSelect" parameterType="hashMap" resultType="hansung.cap.project.FreeBoardVO">
		select * from (select * from freeboard where title like #{key}) t order by seq desc limit #{displayPost},#{postNum} ;
	</select>
	
	<select id="searchUser" resultType="hansung.cap.project.FreeBoardVO">
  		select * 
  		from freeboard 
  		where userid like #{s} 
  		order by time desc
  	</select>
  	
  	<select id="user" parameterType="hashMap" resultType="hansung.cap.project.FreeBoardVO">
		select * from (select * from freeboard where userId like #{key}) t order by seq desc limit #{displayPost},#{postNum} ;
	</select>
  	
  	<select id="All" parameterType="hashMap" resultType="hansung.cap.project.FreeBoardVO">
		select * from (select * from freeboard where userId like #{key} or title like #{key}) t order by seq desc limit #{displayPost},#{postNum} ;
	</select>
  </mapper>
  