<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="hansung.cap.mapper.listMapper">

      <select id="queryAll" resultType="hansung.cap.project.listVO">
    	select * 
    	from list 
    	order by seq desc
    </select>
    
    <select id="All" resultType="hansung.cap.project.listVO">
    	select * 
    	from list 
    </select>
    
    <select id = "queryModel" resultType="hansung.cap.project.listVO">
   		select * 
   		from list 
   		where model 
   		like #{model} order by seq desc
    </select>
    
    <select id = "queryTime" resultType="hansung.cap.project.listVO">
    	select * 
    	from list 
    	where time like #{time} order by seq desc
    </select>
    
	<select id="searchName" resultType="hansung.cap.project.listVO">
		select * 
		from list 
		where model like #{msg} order by seq desc
	</select>
	
	<select id="selectOne" resultType="hansung.cap.project.listVO">
		select * 
		from list 
		where seq = #{a}
	</select>
	
	<select id="selectUrl" resultType="hansung.cap.project.listVO">
		select * 
		from list 
		where imgUrl like #{url}
	</select>
	<!-- 총 게시글 갯수 출력 -->
	<select id="countBoard" resultType="int">
		SELECT COUNT(*) 
		FROM list
	</select>
	
	<select id="listPage" parameterType="hashMap" resultType="hansung.cap.project.listVO">
 		select *
 		from list 
 		order by seq desc  <!-- 경우에 따라 time으로 바꿔줄 필요 있음 -->
 		limit #{displayPost},#{postNum}
 	</select>
 	
 	<select id="searchSelect" parameterType="hashMap" resultType="hansung.cap.project.listVO">
		select * from (select * from list where model like #{key}) t order by seq desc limit #{displayPost},#{postNum} ;
	</select>
	
	<select id="time" parameterType="hashMap" resultType="hansung.cap.project.listVO">
		select * from (select * from list where time like #{key}) t order by seq desc limit #{displayPost},#{postNum} ;
	</select>

</mapper>

